<article id="schedule" class="clearfix">
            <h1>Schedule</h1>
            
            <section id="preparty">            
                <h2>Pre-party details TBA</h2>
            
                <p>We'll announce more details about the pre-party soon.</p>
            
            </section><!-- END preparty -->
            
            <section id="conference">
                <h2>Saturday, April 16, 2010</h2>
                <p><%= @barcamp.title %> has not yet begun.  Come on down and be a part of it!</p>

                <p>More information about the unconference will be available soon.</p>
            </section><!-- END conference -->
            
            <section id="barcrawl">
                <h2>After party</h2>
                <p>Please get in contact if you'd like to host the BarCamp after-party.</p>
            </section><!-- END barcrawl -->

        </article><!-- END #schedule -->


<!--
<h1><%#= @barcamp.title %></h1>

<dl>
	<dt>Start:</dt>
	<dd><%#= @barcamp.start_time %></dd>
	<dt>End:</dt>
	<dd><%#= @barcamp.end_time %></dd>
	<dt>Location:</dt>
	<dd><%#= @barcamp.location %></dd>
</dl>

<p><%#= @barcamp.title %> has not yet begun.  Come on down and be a part of it!</p>
-->
