<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%= page_title %></title>

  <meta name="description" content="">
  <meta name="author" content="">

  <!--  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">Mobile Viewport Fix j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag -->

  <link rel="shortcut icon" href="http://barcampclt.org/favicon.ico">
  <link rel="apple-touch-icon" href="http://barcampclt.org/apple-touch-icon.png">

  <link rel="stylesheet" href="http://barcampclt.org/css/style.css?v=1">
  <link rel="stylesheet" media="handheld" href="http://barcampclt.org/css/handheld.css?v=1"><!-- For the less-enabled mobile browsers like Opera Mini -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script><!-- jQuery linked from Google = faster & possibly already in users cache -->
  <script src="http://barcampclt.org/js/plugins.js"></script>
  <script src="http://barcampclt.org/js/modernizr-1.5.min.js"></script><!-- Modernizr enables HTML5 elements & feature detects -->
  <script src="http://barcampclt.org/js/script.js"></script>
</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]> <body class="ie7"> <![endif]-->
<!--[if IE 8 ]> <body class="ie8"> <![endif]-->
<!--[if IE 9 ]> <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

<div id="container">

  <header id="masthead" class="clearfix">
    <a href="http://barcampclt.org" title="BarCamp Charlotte" id="logo" class="ir">BarCamp Charlotte</a>

    <nav class="clearfix">
      <ul>
        <li class="home"><a href="http://barcampclt.org"><span></span>Home</a></li>
        <li class="venue"><a href="http://barcampclt.org/venue/"><span></span>Venue</a></li>
        <li class="schedule active"><a href="http://barcampcharlotte.heroku.com/"><span></span>Schedule</a></li>
        <li class="sponsor"><a href="http://barcampclt.org/sponsor/"><span></span>Sponsor</a></li>
        <li class="volunteer"><a href="http://barcampclt.org/volunteer/"><span></span>Volunteer</a></li>
        <li class="register"><a href="http://anyvite.com/events/home/noui3c9ym5"><span></span>Register</a></li>
      </ul>
    </nav>
  </header>

    
  <% if user_signed_in? %>
    <%= link_to "logout", destroy_user_session_path %>
  <% end %>
  
	<p style="color: green"><%= flash[:notice] %></p>

  <%= yield %>
  
  <footer class="clearfix">
    <div class="inner">
      <p>BarCamp Charlotte content is licensed under a Creative Commons Attribution 3.0 License except where otherwise noted.</p>
      <p>Designed by <a href="http://bermonpainter.com" rel="external">Bermon Painter</a> and developed by <a href="http://itsbspoke.com/"><img src="http://itsbspoke.com/images/logo.png" alt="BSpoke"/></a>.</p>
      <a href="http://barcampcharlotte.org" class="logo hidden">BarCamp Charlotte</a>
    </div>
  </footer>
</div><!-- END #container -->

<!--[if lt IE 7 ]>
<script src="/http://barcampclt.org/js/dd_belatedpng.js?v=1"></script>
<![endif]-->

<script>
var _gaq = [['_setAccount', 'UA-798946-28'], ['_trackPageview']];
(function(d, t) {
  var g = d.createElement(t),
  s = d.getElementsByTagName(t)[0];
  g.async = true;
  g.src = '//www.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>
</body>
</html>